.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 200px;
  height: 100px;
  margin: 1rem;
}

.scale {
  width: 400px;
}
